body{
	background-image: url("fond.jpg");
	background-attachment : fixed;
	color : #9F0000;
}
.test {
    -webkit-animation-name: test;
            animation-name: test;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

@-webkit-keyframes test {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes test {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.CV{
	color:white;
	border-radius: 10px;
	width : 300px;
	height: auto;
	flex-wrap: wrap;
	background-color: #9F0000;	
	border : 3px black solid;
	box-shadow: 6px 6px 6px grey;
	font-size : 30px;
	text-shadow: 2px 2px 4px grey;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}
.photo{
	height: 330px;
   	border-radius:50%;
   	overflow:hidden;
   	border:  8px white double;
   	margin-top: 3%;
}
.grostitre{
	font-size: 70px;
	text-shadow: 2px 2px 4px grey;
}
.grostitre2{
	font-size : 50px;
	text-shadow: 2px 2px 4px grey;
	text-align: center;
}
.logos{
	text-align: center;
	margin-top: -37px;
}
.CV:hover{
	border:3px grey solid;
	border-radius: 10px;
	box-shadow: -10px -10px 25px grey, 10px -10px 25px grey,  10px 10px 25px grey,  -10px 10px 25px grey;
}
a{
	color:white;
}
.fb:hover, .lkd:hover{
	border:6px black solid;
	border-radius: 5px;
	box-shadow: -10px -10px 25px white, 10px -10px 25px white;
}
.fb{
	height: 70px;
	margin-right: 2%;
	border: 6px grey double;
}
.lkd{
	height: 70px;
	margin-left: 2%;
	border: 6px grey double;
}
.entête{
	background-image: url("https://miro.medium.com/max/1000/1*79BXv93Shm3fBqrSx8OeJQ.gif");
	background-size: cover;
	background-repeat : no-repeat;
	background-position: center;
	text-align: center;
	color: white;
	font-weight:  bold;
	padding-bottom: 2%;
}
.présentation{
	margin-top: 3%;
	width : 80%;
	height : auto;
	display: flex;
	justify-content: space-around;
	justify-content: center;
	border-radius: 10px;
	flex-wrap: wrap;
	background-color: #D9D9D9;	
	border : 3px black solid;
	margin-left: auto;
	margin-right:auto;
	box-shadow: 6px 6px 6px grey;
}
.intro{
	max-width: 70%;
	flex:3;
	margin-left: 5%;
	margin-right:5%;
	margin-bottom: 3%
	margin-top:3%;
	padding: 2%;
}
.infos{flex:1;
	max-width: 70%;
	margin-right:5%;
	padding: 2%;
}
.jauges{
	text-align: center;
	font-weight:  bold;
	width : 90%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: auto;
	margin-right:auto;
	border : 3px black solid;
	background-color: #D9D9D9;
	border-radius: 10px;
	box-shadow: 6px 6px 6px grey;
}
progress {
	border-radius: 7px; 
	width: 80%;
	height: 15px;
	margin-left: 10px;
	box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
	margin-bottom: 10px;
	margin-right: 10px;
}
progress::-webkit-progress-bar {
	width: 150px;
	height: 15px;
	background-color: grey;
	border-radius: 7px;
}
progress::-webkit-progress-value {
	height: 15px;
	background-color: #9F0000;
	border-radius: 7px;
}
.bloc{
	width : 70%;
	height : auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right:auto;
}
.case1{
	flex : 1;
	margin-left: 3%;
	background-color: #9F0000;	
	border : 1px black solid;
	padding: 3%;
	box-shadow: 0px 6px 6px grey;
	color : white;
	text-align: center;
}
.case2{
	flex :3;
	margin-right: 3%;
	background-color: #D9D9D9;	
	border : 1px black solid;
	padding: 3%;
	box-shadow: 0px 6px 6px grey;
}
.loisir{
	text-align: center;
	font-weight:  bold;
	width : 90%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: auto;
	margin-right:auto;
	border : 3px black solid;
	background-color: #D9D9D9;
	border-radius: 10px;
	box-shadow: 6px 6px 6px grey;
}